<h1>Detalles de la conferencia</h1>

<table class='table table-bordered'>
    <tr>
        <th>Nombre:</th>
        <td>{{ registro.nombre }}</td>
    </tr>
    <tr>
        <th>Apellido Paterno:</th>
        <td>{{ registro.apaterno }}</td>
    </tr>
    <tr>
        <th>Apellido Materno</th>
        <td>{{ registro.amaterno }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ registro.email }}</td>
    </tr>
    <tr>
        <th>Telefono</th>
        <td>{{ registro.telefono }}</td>
    </tr>
    <tr>
        <th>Ciudad</th>
        <td>{{ registro.ciudad }}</td>
    </tr>
    <tr>
        <th>País</th>
        <td>{{ registro.pais }}</td>
    </tr>

</table>